<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/f3bdc767-20d8-47ee-bb5a-1f73ca3b3fe9/resourceGroups/ZX_Challenge/providers/Microsoft.ContainerRegistry/registries/ZXChallenge</ResourceId>
    <ResourceName>ZXChallenge</ResourceName>
    <ResourceGroup>ZX_Challenge</ResourceGroup>
    <Subscription>Free Trial</Subscription>
    <RegistryUrl>https://zxchallenge.azurecr.io/</RegistryUrl>
    <UserName>ZXChallenge</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f6cb1639-8bc8-4cf1-a0f9-5353c9eb8b58</ProjectGuid>
  </PropertyGroup>
</Project>